.resourceitem{
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #F8F8F8;
    border: 1px solid #E8E8E8;
=======
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
>>>>>>> MOODLE_33_STABLE
=======
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
>>>>>>> MOODLE_34_STABLE
    margin-bottom: 1px;
    padding: 10px;
}

#side-pre-like{
<<<<<<< HEAD
<<<<<<< HEAD
	background-color:#fAfAfA;
	padding:20px;
}

.resource-description{
	font-weight:normal;
	padding:5px;
	margin:3px;
	border-radius:5px;
	border:1px solid #CFCFCF;
}

.resourceitem .generalbox{
	margin-left:15px;
}
=======
=======
>>>>>>> MOODLE_34_STABLE
    background-color: #fafafa;
    padding: 20px;
}

#side-pre-like .block .header {
    color: #fafafa;
}

.resource-thumbnail {
    padding-right:20px;
    padding-top:20px;
    display: inline-block;
    float: right;
    max-width: 350px;
}

.resource-info {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    font-weight: normal;
    margin: 10px 0;
    padding: 5px;
    display: inline-block;
    min-height:120px;
}

.resourceitem .generalbox{
    margin-left: 15px;
}

.oai-doc dd {
    margin-top: 10px;
}

.resource-usage,
.resource-views,
.resource-likes {
    display: inline-block;
    margin-right: 20px;
}

.resource-info .smalltext {
    font-size: 80%;
}

.resource-download {
    float: right;
}

.resource-title {
    display: inline-block;
<<<<<<< HEAD
}
>>>>>>> MOODLE_33_STABLE
=======
}

.browser-current-category {
    margin-bottom: 15px;
}

.sharedresource-browse-up {
    height: 36px;
}

.sharedresources-taxonomy-chooser {
    margin-bottom: 15px;
}

.sharedresources-taxonomy-chooser * {
    display:inline;
}

.sharedresources-pager a {
    margin-right:10px;
}

#sharedresources-link-to-search {
    margin-top: 15px;
}

.sharedresources-description .resource-keywords {
    margin-top: 15px;
}

a.sharedresource-actionlink {
    cursor: pointer;
}

.is-hidden-by-rule {
    -moz-opacity:0.5;
    filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
    opacity:0.5;
}

/* boxed template */
.sharedresource-list.boxed {
    vertical-align: top;
}

.sharedresource-picture img{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom: 10px;
}

.sharedresource-librarian-controls,
.sharedresource-user-controls  {
    padding-left: 10px;
}

.sharedresource-user-controls {
    text-align:center;
}

.sharedresource-item-container {
    display:inline-block;
    max-width:28%;
    width: 28%;
    vertical-align: top;
    margin-right: 20px;
}

.sharedresource-list.boxed .resource-likes {
    font-size:80%;
}
.sharedresource-list.boxed .resource-likes img {
    width: 12px;
}

.sharedresource-info-box {
    position: absolute;
    padding: 10px;
    border: 1px solid #fefefe;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 5px 10px 10px #888;
    max-width: 46%;
    width:35%;
}

#local_sharedresource_searchblock input[type="text"] {
    padding:3px;
}
<<<<<<< HEAD
>>>>>>> MOODLE_34_STABLE
=======

#local_sharedresource_searchblock .inner-block .header {
    height:1.8em !important;
}

.box-resource-images {
    max-width: 128px;
    max-height: 128px;
}

.sharedresources-librarian-tools {
    margin: 10px 0;
}

.sharedresources-pager {
    margin: 10px 0;
}
>>>>>>> MOODLE_34_STABLE
