{{!
    This file is part of The Sharedresource Library

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
<<<<<<< HEAD
    @template local_sharedresource/category
=======
    @template local_sharedresources/resourcecategory
>>>>>>> MOODLE_34_STABLE

    Shows displayes rendering of a a resource category level

    Classes required for JS:
    * none

}}
<!-- resourcecategory -->
<div class="browser-{{current}}-category row-fluid">

{{#hasup}}
    <div class="browser-'.$current.'-category-label span2">
<<<<<<< HEAD
        <a href="{{parentcaturl}}"><img src="{{upiconurl}}" class="sharedresource-browse-up"></a>
    </div>
{{/hasup}}

    <div class="browser-{{current}}-category-info span{{catspan}}">
        {{#issub}}
        <a href="{{caturl}}">{{catname}}</a>
        {{/issub}}
        {{^issub}}
            {{catname}}
        {{/issub}}
    </div>

    <div id="sharedresource-browser-cat{{catid}}" class="browser-{{current}}-category-count span1"></div>
=======
        <a href="{{{parentcaturl}}}"><img src="{{{upiconurl}}}" class="sharedresource-browse-up"></a>
    </div>
{{/hasup}}

    <div class="browser-{{current}}-category-info span{{catspan}} col-{{catspan}}">
        <a href="{{{caturl}}}">{{catname}}</a>
    </div>

    <div id="sharedresource-browser-cat{{catid}}" class="browser-{{current}}-category-count span1 col-1"></div>
    <script type="text/javascript">$('#sharedresource-browser-cat{{catid}}').animateNumber({ number: (0 + {{resourcecount}}) });</script>
>>>>>>> MOODLE_34_STABLE

</div>
<!-- /resourcecategory -->
