{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
<<<<<<< HEAD
    @template local_sharedresource/resourcebody
=======
    @template local_sharedresources/resourcebody
>>>>>>> MOODLE_34_STABLE

    Used when a resource is setup as popuped but accessed directly

    Classes required for JS:
    * mod/sharedresource/amd/view.js

}}
<!-- resourcebody -->
<div class="resource-item">

<<<<<<< HEAD
<div class="sharedresource-heading">
=======
<div class="sharedresource-heading {{ishiddenbyrule}}">
>>>>>>> MOODLE_34_STABLE
    <div class="resource-download">
        <a href="{{url}}" target="_blank"><img src="{{downloadpixurl}}" /></a>
    </div>

    <div class="resource-title">
        <h3 class="title"><img src="{{pixurl}}" class="iconlarge" /> {{title}} {{{editioncommands}}}</h3>
    </div>
</div>

{{{noticepopupactionlink}}}
<br/>

<div class="sharedresource-info">
<<<<<<< HEAD
    <a class="sharedressource-toggle-handle"><img id="sharedresource-toggle-{{identifier}}" src="{{handlepixurl}}"></a>

    {{^uses}}
    <div class="resource-usage">{{notusedstr}}</div>
    {{/uses}}
    {{#uses}}
    <div class="resource-usage"><a href="{{courselisturl}}">{{used}}</a></div>
    {{/uses}}

    <div class="resource-views">{{viewedstr}}</div>

    <div class="resource-likes">
       {{likedstr}}
       <span id="sharedresource-likes-{{identifier}}">
       {{{stars}}}
       </span>
        <a class="sharedresource-mark-like" id="sharedresource-{{identifier}}">{{marklikedstr}}</a>
=======
    <a class="sharedresource-toggle-handle"><img id="sharedresource-toggle-{{identifier}}" src="{{handlepixurl}}"></a>

    {{^uses}}
    <div class="resource-usage">{{{notusedstr}}}</div>
    {{/uses}}
    {{#uses}}
    <div class="resource-usage"><a href="{{courselisturl}}">{{{used}}}</a></div>
    {{/uses}}

    <div class="resource-views">{{{viewedstr}}}</div>

    <div class="resource-likes">
       <span id="sharedresource-likes-{{identifier}}">
       {{{stars}}}
       </span>
        <a class="sharedresource-mark-like" id="sharedresource-{{repoid}}-{{identifier}}">{{{marklikedstr}}}</a>
>>>>>>> MOODLE_34_STABLE
    </div>

</div>

<div class="generalbox resource-info" id="sharedresource-info-{{identifier}}" style="display:none">
{{#description}}
<<<<<<< HEAD
    <div class="sharedresource-description">
        <div class="resource-thumbnail">{{{thumbnail}}}</div>
        <div class="resource-description">{{{description}}}</div>

        <div class="smalltext">{{keywordsstr}}: <b>{{keywords}}</b></div>
=======
    <div class="sharedresources-description">
        <div class="resource-thumbnail">{{{thumbnail}}}</div>
        <div class="resource-description">{{{description}}}</div>

        <div class="smalltext resource-keywords">{{keywordsstr}}: <b>{{keywords}}</b></div>
>>>>>>> MOODLE_34_STABLE
    </div>
{{/description}}
</div>

{{{rescommands}}}

</div>
<!-- /resourcebody -->
