{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
<<<<<<< HEAD
    @template local_sharedresource/searchform
=======
    @template local_sharedresources/searchform
>>>>>>> MOODLE_34_STABLE

    Classes required for JS:
    * none

}}
<!-- searchform -->
{{^haswidgets))
<br/>
<center>{{strnowidgets}}</center>
<br/>
{{/haswidgets}}

{{#haswidgets}}

<form name="cat" action="{{formurl}}" style="display:inline">

{{#courseid}}
<input type="hidden" name="course" value="{{courseid}}">
{{/courseid}}

<input type="hidden" name="repo" value="{{repo}}">
<input type="hidden" name="offset" value="{{offset}}">
<fieldset>
<legend>{{searchinlibrarystr}}</legend>

<table>
    <tr>
        {{#widgets}}
        <td>
<<<<<<< HEAD
        {{widget}}
=======
        {{{widget}}}
>>>>>>> MOODLE_34_STABLE
        </td>
        {{/widgets}}
    </tr>
    <tr>
        <td colspan="{{n}}" align="center">
            input type="submit" name="go" value="{{searchstr}}" />
        </td>
    </tr>
</table>
</fieldset>
</form>

{{/haswidgets}}
<!-- /searchform -->
